<div class= "container my-5 text-center">
  <h1><span data-controller="typed-js"></span></h1>

  </div>
    <ul class="results" data-controller="dogs"></ul>
  <div>

  <div class="px-4 ">
    <%= link_to "See your tasks" , index_open_tasks_path, class: "btn btn-primary" %>
  </div>

</div>
