<div class="container">
    <h1 class="text-center">Utförd Uppdrag</h1>
  <div class="d-flex justify-content-center">
      <div class="card m-2" style="width: 25rem; border-radius: 15px;">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png", class:"d-block w-100"%>
              </div>
              <div class="carousel-item">
                <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png", class:"d-block w-100"%>
              </div>
              <div class="carousel-item">
                <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png", class:"d-block w-100"%>
              </div>
            </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
          <div class="card-body">
            <h3>Borra upp tv pa vagg </h3>
            <p class="card-text">Strandvägen 47, 114 56 Stockholm </p>
            <p class="card-text">Bud accepterat </p>
            <p class="card-text">Christoffer Jansson </p>
            <h3>Beskrivning </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          </div>
      </div>




        <div class="m-2 col-md-8 col-lg-6 col-xl-4">

          <div class="card" id="chat1" style=" width: 25rem; border-radius: 15px;">
            <div
              class="card-header p-3 text-black "
              style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
              <p class="mb-0 fw-bold">Live chat</p>
            </div>
            <div class="card-body">

              <div class="d-flex flex-row justify-content-start mb-4">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                  alt="avatar 1" style="width: 45px; height: 100%;">
                <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                  <p class="small mb-0">Hi this is supposed to have a yellowish background I working on it..</p>
                </div>
              </div>

              <div class="d-flex flex-row justify-content-end mb-4">
                <div class="p-3 me-3 border" style="border-radius: 15px; background-color: #fbfbfb;">
                  <p class="small mb-0">Thank you, I really like your product.</p>
                </div>
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                  alt="avatar 1" style="width: 45px; height: 100%;">
              </div>

              <div class="d-flex flex-row justify-content-start mb-4">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                  alt="avatar 1" style="width: 45px; height: 100%;">
                <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                  <p class="small mb-0">Hi this is supposed to have a yellowish background I working on it..</p>
                </div>
              </div>

              <div class="d-flex flex-row justify-content-end mb-4">
                <div class="p-3 me-3 border" style="border-radius: 15px; background-color: #fbfbfb;">
                  <p class="small mb-0">Thank you, I really like your product.</p>
                </div>
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                  alt="avatar 1" style="width: 45px; height: 100%;">
              </div>

              <div class="d-flex flex-row justify-content-start mb-4">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                  alt="avatar 1" style="width: 45px; height: 100%;">
                <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                  <p class="small mb-0">...</p>
                </div>
              </div>

              <div class="form-outline">
                <textarea class="form-control" id="textAreaExample" rows="4"></textarea>
                <label class="form-label" for="textAreaExample">Type your message</label>
              </div>

            </div>
          </div>

        </div>

  </div>
  <div class="container d-flex justify-content-center">
    <div class="card" style=" width: 30rem; border-radius: 15px;">
      <div class="row ustify-content-center">
        <div class="col-md-4">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">4.9</p>
            <p class="card-text">utförder uppdrag</p>
            <p class="card-text">Verifierad med BankID</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
